:root {
	/* ------- colors ------- */
	--primary-color: #000000;
	--secondary-color: #03031d;
	--tertiary-color: #666666;
	--quaternary-color: #b8b8b8;
	--link-color: #0052d7;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
